.banner-section-container {
    width: 100%;
    height: calc(50vh - 50px);
    background-image: url("../images/bannerimage.jpg");
    background-size: cover;
    background-position: center;
    background-position: center;
    position: relative;
}

.banner-section {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.banner-section-text p {
    color: red;
    font-size: 18px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-section-text h1 {
    color: white;
    text-transform: capitalize;
}


@media screen and (min-width:992px) {

    .banner-section {
        height: 100%;
        min-width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-section-text p{
        color: red;
        font-size: 28px;
        font-weight: 900;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .banner-section-text h1 {
        color: white;
        text-transform: capitalize;
        font-size: 48px;
    }
}



.single-featured-container {
    width: 100%;
  }
  .single-featured-container .single-featured-image {
    width: 100%;
    aspect-ratio: 355/300;
    overflow: hidden;
    border-radius: var(--radius);
  }
  .single-featured-image img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    object-fit: cover;
  }
  .single-featured-text-component .about-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .single-featured-text-component .about-info p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .single-featured-text-component .contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  @media screen and (min-width: 992px) {
    .single-featured {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .single-featured-container.reverse-content .single-featured {
      flex-direction: row-reverse;
    }
    .single-featured-image,
    .single-featured-text-component {
      flex: 0 0 calc(50% - 30px);
    }
    .single-featured-container .single-featured-image {
      aspect-ratio: 625/550;
    }
  }

  .single-item {
    width: 100%;
    background: var(--clr-white);
    height: 100%;
    box-shadow: var(--box-shadow-light);
    border-radius: var(--radius);
    transition: var(--transition);
    padding-bottom: 20px;
  }
  .single-item:hover {
    transform: translateY(-2px) scale(1.002);
    box-shadow: var(--box-shadow-dark);
  }
  .single-item .img-container {
    aspect-ratio: 355/250;
    overflow: hidden;
  }
  .single-item .img-container img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    object-fit: cover;
    transition: var(--transition);
  }
  .single-item .item-title p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-primary);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .section-title .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-primary);
  }
  .section-title .underline {
    width: 60px;
    height: 5px;
    background: var(--clr-primary);
    margin-left: auto;
    margin-right: auto;
  }

  .featured-courses{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
  }


  @media screen and (min-width: 992px) {
    .single-item .img-container {
      aspect-ratio: 396/300;
    }
    .single-item:hover img {
      transform: scale(1.05) rotateZ(2deg);
    }

    .featured-courses{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }
  }